ipython
ipykernel
ipywidgets
mlflow
notebook
pytest
scipy>=1.6.0
sklearn
tensorflow_datasets
tensorflow
toolz
torch
torchmetrics
torchvision
trax==1.4.1

# local package
-e .

# external requirements
click==8.0.3
Sphinx
coverage
awscli
flake8
python-dotenv>=0.5.1
codetiming
humanfriendly

setuptools==47.1.0
